@import "~materialize-css/dist/css/materialize.min.css";

body {
  margin: 0;
  padding: 0;
}

.container {
  min-height: 100%;
  margin-top: 30px;
  padding: 5px;
  border: 1px solid #000;
  text-align: center;
}

.todo {
  overflow-y: auto;
  margin-bottom: 1em;
  text-align: left;
  background: #f3f3f3;
}

.todo.completed span {
  text-decoration: line-through;
  height: auto;
}

.todo label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background: #f3f3f3;
  padding: 1rem 0.5rem 2rem 1rem;
}

.todo i {
  padding: 5px;
  z-index: 2;
}

.input-field {
  padding: 10px 0px 0px 0px;
}

